<div class="row">
    <div class="col-md-12">
        <div id="ApplicationListTable">
            <div class="row" style="padding-right:13px; padding-left:13px;padding-bottom:5px;padding-top:5px;">
                <button type="button" id="btn-new-data" class="btn btn-default btn pull-right" style="padding-left:2px;"
                    data-toggle="modal" data-target="#data-target-modal" nextpage="pages/deployment/config/new">
                    Add
                    Config</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark" id="ServerListHead">
                        <tr class="clickable-row">
                            <th><input type="checkbox"></th>
                            <th>No</th>
                            <th>Application Name</th>
                            <th>Latest Version</th>
                        </tr>
                    </thead>
                    <tbody id="data-table">
                        <tr class="clickable-row" nextpage="pages/deployment/configurationhistory">
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>Confins</td>
                            <td>Web-20180101.config</td>
                        </tr>
                        <tr class="clickable-row">
                            <td><input type="checkbox"></td>
                            <td>2</td>
                            <td>Application</td>
                            <td>Web-20180101.config</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /tables -->
        </div>
        <button type="submit" class="btn btn-primary" previouspage="pages/deployment/stagedfile" id="btn-data-back">Back</button>
        <button type="submit" class="btn btn-primary" previouspage="pages/deployment/stagedfile" id="btn-data-save">Add
            Latest Version to Stages</button>
    </div>
</div>