<table class="ui compact teal small table">
    <thead class="full-width">
        <tr>
            <th>No</th>
            <th>Application Name</th>
            <th>Latest Version</th>
            <th>Last Change</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        [[#data]]
        <tr>
            <td>[[count]]</td>
            <td>[[app.name]]</td>
            <td>[[filename]]</td>
            <td>[[info.usrupd]]</td>
            <td>
                <button class="ui green button" id='btn-edit' data-key=[[id]] data-state="edit" data-next="">
                    <i class="edit outline icon"></i>
                    View
                </button>
            </td>
        </tr>
        [[/data]]
    </tbody>
    <tfoot class="full-width">
        <tr>
            <th id="data-table-footer" colspan="6">
                <button class="ui green button" id='btn-edit' data-key="[[id]]" data-state="edit" data-prev>
                    <i class="edit outline icon"></i>
                    Back
                </button>
                <div class="ui right floated small primary labeled icon button">
                    <i class="user icon"></i> Add Config
                </div>
            </th>
        </tr>
    </tfoot>
</table>