
<ul id="tab-header" class="nav nav-tabs">
</ul>

  <div class="tab-content">
    <input type="hidden" id="hdnlinkbefore">
    <input type="hidden" id="hdnlinkcurrent">
    <input type="hidden" id="hdnlinkafter">
    <div id="tab-content-body" class="tab-pane fade in active">
    </div>
  </div>