<div class="ui tall stacked segment">
	<div class="ui segment">
		<p>Top</p>
	</div>
	<div class="ui segment">
		<p>Middle</p>
	</div>
	<div class="ui segment">
		<p>Bottom</p>
	</div>
</div>
<div class="ui piled segments">
	<form action="#" id="login_form" method="post">
		<h1>Login Form</h1>
		<div>
			<input type="text" name="username" placeholder="Username" required="" id="username" autocomplete="false" />
		</div>
		<div>
			<input type="password" name="password" placeholder="Password" required="" id="password" autocomplete="false" />
		</div>
		<div class="ui segment">
			<button id="btn-submit" class="ui primary labeled icon button">
				<i class="power off icon"></i>
				Sign In
			</button>
		</div>
	</form><!-- form -->
	<div class="copyright">
		Copyright @ AdIns
	</div><!-- button -->
</div>