<div class="ui stacked segments">
    <div class="ui gradient segment">
        Batch List
    </div>
    <div class="ui segment">
        <table class="ui table">
            <thead class="full-width">
                <tr>
                    <th width="5%">No</th>
                    <th width="auto">Batch Name</th>
                    <th width="20%">Environments</th>
                    <th width="20%">Status</th>
                    <th width="30%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $val := .batch}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Name}}</td>
                    <td>{{ COM_Environments "label" .ID }}</td>
                    <td>{{.Status}}</td>
                    <td style="text-align:center">
                        <button class="ui orange labeled icon button" id='btn-edit' onclick="deployBatch('{{.ID}}')">
                            <i class="paper plane icon"></i>Deploy
                        </button>
                        <button class="ui purple labeled icon button" id='btn-edit' data-uri-1="pages/deployment/batch/edit/{{.ID}}">
                            <i class="edit icon"></i>Edit
                        </button>
                        <button class="ui blue labeled icon button" id='btn-view' data-uri-1="pages/deployment/stages/{{.ID}}">
                            <i class="search icon"></i>View
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="ui clearing segment">
        <button class="ui right floated green labeled icon button" data-uri-1="pages/deployment/batch/add">
            <i class="plus icon"></i>New Batch
        </button>
    </div>
</div>
<script>
    $('#example4').progress('increment');

    function deployBatch(batchID) {
        socket.Emit("deploy", batchID);
    }
</script>