<div class="ui stacked segments">
    <div class="ui gradient segment">
        {{if (eq .id 0)}}New{{else}}Edit{{end}} Batch
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Batch Name</label>
                <input type="text" name="name" class="two wide" id="data-name" placeholder="Batch Name" value="{{.batch.Name}}">
            </div>
            <div class="field">
                <label>Environments</label>
                <select multiple name="environments[][id]" class="ui fluid dropdown" id="ServerType">
                    {{ COM_Environments "select" .id }}
                </select>
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" class="ui right floated green labeled icon button" data-uri-1='{{if (eq .id 0)}}PUT /api/v1/batch{{else}}POST /api/v1/batch/{{.id}}{{end}}'
            data-uri-2="GET /pages/deployment/batch">
            <i class="checkmark icon"></i>Save
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/deployment/batch">
            <i class="arrow left icon"></i>Back
        </button>
       
    </div>
</div>