<div class="ui stacked segments">
  <div class="ui gradient segment">
    Users
  </div>
  <div class="ui segment">
    <table class="ui compact teal small table">
      <thead class="full-width">
        <tr>
          <th width="5%">No</th>
          <th>User Name</th>
          <th>Name</th>
          <th width="20%" style="text-align:center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .user}}
        <tr>
          <td>{{Sum $index 1}}</td>
          <td>{{.Username}}</td>
          <td>{{.Name}}</td>
          <td style="text-align:center">
            <button class="ui green button" id='btn-edit' data-uri-1="pages/user/edit/{{.Username}}">
              <i class="edit outline icon"></i>
              Edit
            </button>
            <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/users/{{.Username}}" data-uri-2="pages/user">
              <i class="trash alternate outline icon"></i>
              Delete
            </button>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <div class="ui clearing segment">
    <button class="ui right floated green labeled icon button" data-uri-1="pages/user/add">
      <i class="plus icon"></i>New User
    </button>
    <button class="ui right floated blue labeled icon button" data-uri-1="pages/systemroles">
      <i class="shield alternate icon"></i>System Roles
    </button>
  </div>
</div>