<div class="ui stacked segments">
  <div class="ui gradient segment">
    User
  </div>
  <div class="ui segment">
    <form class="ui form">
      <div class="field">
        <label>User Name</label>
        <input type="hidden" id="data-id" name="id:number" value="{{.user.ID}}">
        <input type="text" id="data-username" name="username" placeholder="User Name" value="{{.user.Username}}">
      </div>
      <div class="field">
        <label>Name</label>
        <input type="text" id="data-name" name="name" placeholder="Name" value="{{.user.Name}}">
      </div>
      <div class="field">
        <label>System Role</label>
        <select name="role" class="ui fluid dropdown" {{.isAdmin}} >
            {{ CboUserRoles "select" .username }}
        </select>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" id="data-password" name="password" placeholder="Password" value="{{.user.Password}}">
      </div>
    </form>
  </div>
  <div class="ui clearing segment">
    <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .id 0)}}PUT api/v1/users{{else}}POST api/v1/users/{{.id}}{{end}}"
      data-uri-2="GET pages/user">
      <i class="checkmark icon"></i>
      Save
    </button>
    <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/user">
      <i class="arrow  left icon"></i>
      Back
    </button>
  </div>
</div>
