<div class="ui stacked segments">
    <div class="ui gradient segment">
        Connection Manager
    </div>
    <div class="ui segment">
        <table class="ui compact teal small table">
            <thead class="full-width">
                <tr>
                    <th width="5%">No</th>
                    <th width="auto">Connection Name</th>
                    <th width="auto">DB Server\Instance</th>
                    <th width="auto">Port</th>
                    <th width="44%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $val := .conn}}
                <tr>
                    <td>{{Sum $index 1 }}</td>
                    <td>{{.Name}}</td>
                    <td>{{.DatabaseServer}}</td>
                    <td>{{.Port}}</td>
                    <td style="text-align:center">
                        <button class="ui teal button" data-uri-1="pages/database/user/{{.ID}}">
                            <i class="user circle outline icon"></i>
                            Users
                        </button>
                        <button class="ui blue button" data-uri-1="pages/database/role/{{.ID}}">
                            <i class="user secret icon"></i>
                            Roles
                        </button>
                        <button class="ui olive button" data-uri-1="pages/database/authorization/{{.ID}}">
                            <i class="lock icon"></i>
                            Authorization
                        </button>
                        <button class="ui green button" data-uri-1="pages/database/connection/edit/{{.ID}}">
                            <i class="edit outline icon"></i>
                            Edit
                        </button>
                        <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/connection/{{.ID}}"
                            data-uri-2="pages/database/connection">
                            <i class="trash alternate outline icon"></i>
                            Delete
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="ui clearing segment">
        <button class="ui right floated green labeled icon button" data-uri-1="pages/database/connection/add">
            <i class="plus icon"></i>New Connection String
        </button>
    </div>
</div>