<div class="ui stacked segments">
    <div class="ui gradient segment">
        Instance Connection
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Connection Name</label>
                <input type="hidden" name="id:number" value="{{.id}}">
                <input type="text" name="name" placeholder="Connection Name" value="{{.connection.Name}}">
            </div>
            <div class="field">
                <label>DB Server\Instance</label>
                <input type="text" name="databaseserver" placeholder="Connection Name" value="{{.connection.DatabaseServer}}">
            </div>
            <div class="field">
                <label>Port</label>
                <input type="text" name="port:string" placeholder="Port" value="{{.connection.Port}}">
            </div>
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" value="{{.connection.UserName}}">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" value="{{.connection.Password}}">
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .id 0)}}PUT api/v1/connection{{else}}POST api/v1/connection/{{.id}}{{end}}"
            data-uri-2="pages/database/connection">
            <i class="checkmark icon"></i>
            Save
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/database/connection">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>