<div class="ui stacked segments">
  <div class="ui gradient segment">
    Servers
  </div>
  <div class="ui segment">
    <table class="ui compact teal small table">
      <thead class="full-width">
        <tr>
          <th width="5%">No</th>
          <th>Server</th>
          <th width="10%" style="text-align:center">IP</th>
          <th width="25%" style="text-align:center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .server}}
        <tr>
          <td>{{Sum $index 1}}</td>
          <td>{{.Name}}</td>
          <td style="text-align:center">{{.IP}}</td>
          <td style="text-align:center">
            <button class="ui blue button" id='btn-link-edit' data-uri-1="pages/server/appserver/{{.ID}}">
              <i class="edit outline icon"></i>
              View
            </button>
            <button class="ui green button" id='btn-link-edit' data-uri-1="pages/server/edit/{{.ID}}">
              <i class="edit outline icon"></i>
              Edit
            </button>
            <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/servers/{{.ID}}" data-uri-2="pages/server">
              <i class="trash alternate outline icon"></i>
              Delete
            </button>
          </td>
        </tr>
        {{end}}

      </tbody>
    </table>
  </div>
  <div class="ui clearing segment">
    <button class="ui right floated green labeled icon button" data-uri-1="pages/server/add">
      <i class="plus icon"></i>New Server
    </button>
    <button class="ui right floated blue labeled icon button" data-uri-1="pages/server/generatekey"  > 
      <i class="dna icon"></i>Server Key
    </button>
  </div>
</div>