<div class="ui stacked segments">
    <div class="ui gradient segment">
        Server
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class=" field">
                <label>Server Name</label>
                <input type="hidden" id="hdnServerName" name="id:number" value="{{.server.ID}}">
                <input type="text" id="txtName" name="name" placeholder="Server Name" value="{{.server.Name}}">
            </div>
            <div class=" field">
                <label>IP Address</label>
                <input type="text" id="txtIP" name="ip" placeholder="IP Address" value="{{.server.IP}}">
            </div>
            <div class=" field">
                <label>Username</label>
                <input type="text" id="txtAuthUsername" name="AuthUsername" placeholder="username" value="{{.server.AuthUsername}}">
            </div>
            <div class=" field">
                <label>Password</label>
                <input type="password" id="txtAuthPassword" name="AuthPassword" placeholder="password" value="{{.server.AuthPassword}}">
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" 
            data-uri-1="{{if (eq .id 0)}}PUT api/v1/servers{{else}}POST api/v1/servers/{{.id}}{{end}}"
            data-uri-2="GET pages/server">
            <i class="checkmark icon"></i>
            Save
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/server">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>