<div class="ui stacked segments">
        <div class="ui gradient segment">
            Database Authorization
        </div>
        <div class="ui segment">
            <table class="ui table">
                <thead class="full-width">
                    <tr>
                        <th width="5%">No</th>
                        <th width="auto">Database</th>
                        <th width="20%" style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $val := .auth}}
                    <tr>
                        <td style="text-align:center">{{Sum $index 1}}</td>
                        <td>{{.DBName}}</td>
                        <td style="text-align:center">

                            <button class="ui green button" id='btn-edit'   data-uri-1="pages/database/authorization/edit/{{.ConnectionID}}/{{.DBName}}">
                                <i class="edit outline icon"></i>
                                View
                              </button>
                              <!-- <button class="ui red button" id='btn-delete'   data-uri-1="pages/database/authorization/{{.ConnectionID}}/{{.DBName}}">
                                <i class="trash alternate outline icon"></i>
                                Delete
                              </button> -->
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="ui clearing segment">
            <button class="ui right floated green labeled icon button" data-uri-1="pages/database/authorization/add/{{.connectionid}}">
                <i class="plus icon"></i>New Authorization
            </button>
            <button class="ui right floated labeled icon button"  data-uri-1="pages/database/connection">
                <i class="arrow left icon"></i>Back
            </button>
        </div> 
    </div>