<div class="ui stacked segments">
    <div class="ui gradient segment">
            Database Authorization
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Database</label>
                <input type="hidden" id="connectionid" value="{{.connectionid}}">
                <select id="dbname" name="dbname" class="ui fluid dropdown" onchange="BindSelect()">
                    {{ CboDatabaseName "select" .connectionid .dbname }}
                </select>
            </div>
            <div class="field">
                <label>Roles</label>
                <select id="roles" onchange="BindRolesUser(this)" name="role[name]" class="ui fluid dropdown">
                </select>
            </div>
            <div class="field">
                <label>User Database</label>
                <select multiple id="users" name="users[][name]" class="ui fluid dropdown">
                </select>
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="POST api/v1/authorization"
            data-uri-2="pages/database/authorization/{{.connectionid}}">
            <i class="checkmark icon"></i>
            Save
        </button>
        
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/database/authorization/{{.connectionid}}">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>

<script>
    $(function () {
        BindSelect();
    });

    function BindSelect() {
        let connectionid = $("#connectionid").val();
        let dbname = $("#dbname").val();
        if (dbname != "") {
            let url = "api/v1/authorization/getroledb/" + connectionid + "/" + dbname;
            $('#roles').dropdown('clear');
            $('#roles option').remove();
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#roles').dropdown({
                        placeholder: 'roles'
                    });
                    for (i in data.data.values) {
                        let selected
                        if (data.data.values[i].selected == true) {
                            selected = `selected`
                        } else {
                            selected = ``
                        }
                        $("#roles").append(`<option value="` + data.data.values[i].value + `" ` + selected +
                            `>` + data.data.values[i].name + `</option>`);
                    }
                    BindRolesUser($('#roles'))
                }

            });
        }

    }

    function BindRolesUser(obj) {
        let values = $(obj).dropdown("get value");
        console.log(obj)
        if (values !== null) {
            let values = $(obj).val();
            let connectionid = $("#connectionid").val();
            let dbname = $("#dbname").val();
            let url = "api/v1/authorization/getuserdb/" + connectionid + "/" + dbname + "/" + values;
            $('#users').dropdown('clear');
            $('#users option').remove();
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    $('#users').dropdown({
                        placeholder: 'Users'
                    });
                    for (i in data.data.values) {
                        let selected
                        if (data.data.values[i].selected == true) {
                            selected = `selected`
                        } else {
                            selected = ``
                        }
                        $("#users").append(`<option value="` + data.data.values[i].value + `" ` + selected +
                            `>` + data.data.values[i].name + `</option>`);
                    }
                }

            });
        }

    }
</script>