<div class="ui stacked segments">
  <div class="ui gradient segment">
    Environments
  </div>
  <div class="ui segment">
    <table class="ui compact teal small table">
      <thead class="full-width">
        <tr>
          <th width="5%">No </th>
          <th>Environment</th>
          <th width="20%" style="text-align:center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .environment}}
        <tr>
          <td>{{Sum $index 1}}</td>
          <td>{{.Name}}</td>
          <td style="text-align:center">
            <button class="ui green button" id='btn-edit' data-uri-1="pages/environment/edit/{{.ID}}">
              <i class="edit outline icon"></i>
              Edit
            </button>
            <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/Environments/{{.ID}}" data-uri-2="pages/environment">

              <i class="trash alternate outline icon"></i>
              Delete
            </button>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <div class="ui clearing segment">
    <button class="ui right floated green labeled icon button" data-uri-1="pages/environment/add">
      <i class="plus icon"></i>New Environment
    </button>
  </div>
</div>