<div class="ui stacked segments">
  <div class="ui gradient segment">
    Environment
  </div>
  <div class="ui segment">
    <form class="ui form">
      <div class="field">
        <input type="hidden" id="data-id" name="id:number" value="{{.environment.ID}}">
        <label>Name</label>
        <input type="text" id="data-name" name="name" placeholder="Name" value="{{.environment.Name}}">
      </div>
    </form>
  </div>
    <div class="ui clearing segment">
      <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .id 0)}}PUT api/v1/Environments{{else}}POST api/v1/Environments/{{.id}}{{end}}"
        data-uri-2="GET pages/environment">
        <i class="checkmark icon"></i>
        Save
      </button>
      <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/environment">
         <i class="arrow  left icon"></i>
        Back
      </button>
    </div>
  </div>