<div class="ui stacked segments">
    <div class="ui gradient segment">
        Stages List
    </div>
    <div class="ui segment">
        <table class="ui compact teal small table attached">
            <thead class="full-width">
                <tr>
                    <th width="5%">No</th>
                    <th width="20%">Application Name</th>
                    <th width="auto">File Name</th>
                    <th width="10%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{$batchid := .batchid}}
                {{range $index, $val := .versions}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.App.Name}}</td>
                    <td>{{.FileName}}</td>
                    <td style="text-align:center">
                        <button class="ui red labeled icon button" id='btn-delete' data-uri-1="DELETE /api/v1/stages/{{.ID}}"
                            data-uri-2="pages/deployment/stages/{{$batchid}}">
                            <i class="trash icon"></i>Delete
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="ui clearing segment">
        <button class="ui right floated green labeled icon button" data-uri-1="pages/deployment/stages/add/{{.batchid}}">
            <i class="plus icon"></i>Add File
        </button>
        <button class="ui right floated labeled icon button" id='btn-edit' data-uri-1="pages/deployment/batch">
            <i class="arrow left icon"></i>Back
        </button>
    </div>
</div>