<div class="ui stacked segments">
    <div class="ui gradient segment">
        Stages - Add File
    </div>
    <div class="ui segment">
        <form class="ui form">
            <input type="hidden" name="batchid" value="{{.batch.ID}}" />
            <div class="field">
                <label>Batch Name</label>
                {{.batch.Name}}
            </div>
            <div class="field">
                <label>Applications</label>
                <select name="appid" class="ui fluid dropdown" id="ServerType">
                    {{ COM_CBOApplication "select" .batch.ID }}
                </select>
            </div>
            <div class="field">
                <label>Upload Config File</label>
                <div class="ui right labeled input">
                    <input type="file" id="uploadfile" name="uploadfile" />
                    <div class="ui basic label">
                        <i class="upload icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Preview file</label>
                <textarea id="textAreaTarget" name="textAreaTarget" rows="15"></textarea>
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1='PUT /api/v1/stages'
            data-uri-2="GET /pages/deployment/stages/{{.batch.ID}}">
            <i class="checkmark icon"></i>Save
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/deployment/stages/{{.batch.ID}}">
            <i class="arrow left icon"></i>Back
        </button>
        <button type="submit" id="btn-save" class="ui right floated labeled icon button" data-uri-1='/api/v1/stages/{{.batch.ID}}'>
            <i class="sync icon"></i>Refresh
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#uploadfile").change(function (evt) {
            handleFileSelect(evt);
        });
        $("#uploadfile").click(function (evt) {
            $("#textAreaTarget").val('');
        });
    });
</script>