<div class="ui stacked segments">
    <div class="ui gradient segment">
        Application
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Application Name</label>
                <input type="hidden" id="data-id" name="id:number" value="{{.id}}">
                <input type="text" id="data-name" name="name" placeholder="Application Name" value="{{.apps.Name}}">
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .id 0)}}PUT api/v1/apps{{else}}POST api/v1/apps/{{.id}}{{end}}"
            data-uri-2="GET pages/apps">
            <i class="checkmark icon"></i>
            Save
        </button>

        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/apps">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>