<div class="ui stacked segments">
    <div class="ui gradient segment">
        User Login Database
    </div>
    <div class="ui segment">
        <table class="ui table">
            <thead class="full-width">
                <tr>
                    <th width="5%" style="text-align:center">No</th>
                    <th width="auto" style="text-align:center">Name</th>
                    <th width="auto" style="text-align:center">Type</th>
                    <th width="20%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $val := .userdb}}
                <tr>
                    <td style="text-align:center">{{Sum $index 1}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.UserType}}</td>
                    <td style="text-align:center">
                        <button class="ui green button" id='btn-edit' data-uri-1="pages/database/user/edit/{{.ConnectionID}}/{{.ID}}">
                            <i class="edit outline icon"></i>
                            Edit
                        </button>
                        <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/userdb/{{.ConnectionID}}/{{.Name}}"
                            data-uri-2="pages/database/user/{{.ConnectionID}}">
                            <i class="trash alternate outline icon"></i>
                            Delete
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="ui clearing segment">
        <button class="ui right floated green labeled icon button" data-uri-1="pages/database/user/add/{{.connectionid}}">
            <i class="plus icon"></i>New User Login Databse
        </button>
        <button class="ui right floated labeled icon button" data-uri-1="pages/database/connection">
            <i class="arrow left icon"></i>Back
        </button>
    </div>
</div>