<div class="ui stacked segments">
    <div class="ui gradient segment">
        User Database
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="hidden" name="connectionid:number" value="{{.connectionid}}">
                <input type="text" name="name" placeholder="User Name" value="{{.userdb.Name}}">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password Name" value="">
            </div>
            <div class="field">
                <label>Database</label>
                <select name="databases[][name]" multiple class="ui fluid dropdown">
                    {{ CboGetUserDb "select" .connectionid .pricipalid}}
                </select>
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .pricipalid 0)}}PUT api/v1/userdb{{else}}POST api/v1/userdb/{{.connectionid}}/{{.pricipalid}}{{end}}"
            data-uri-2="pages/database/user/{{.connectionid}}">
            <i class="checkmark icon"></i>
            Save
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/database/user/{{.connectionid}}">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>