body>.ui-layout-resizer {
    background: rgb(255, 255, 255);
}

body>.ui-layout-pane {
    padding: 0;
}

.ui.segment.body {
    padding: 0px;
    margin: -1px;
}

.ui.segment.gradient {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

.ui.segments>.segment {
    padding: 0px;
}

.ui.segments>.ui.segments:last-child {
    padding: 8px;
}

.ui.horizontal.segments>.segment {
    border: 0px;
}

.ui.segment>.ui.form {
    padding: 8px;
}

.ui.segments:not(.horizontal)>.segment:first-child,
.ui.segments:not(.horizontal)>.segment:last-child {
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 -1px 0 -1px;
    border-radius: 0;

    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

.segment>table.ui.table {
    border: 0px;
}

.ui.grid>.row {
    padding-top: 0px;
    padding-bottom: 5px;
}

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    padding-left: 0px;
    padding-right: 0px;
}

/* .ui.form {
    background-color: #f6f6f6;
    margin: 2px;
    padding: 1rem;
    border: 1px solid #dededf;
} */

.ui.table {
    border-radius: 0;
}

th.ui.action {
    text-align: center;
}

.ui.breadcrumb {
    /* letter-spacing: 1px; */
    font-size: 16px;
}

.ui.attached.header {
    font-size: 10px;
    padding: 10px;

    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

/* .ui.grid > .row, .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding: 0px;
} 
*/
.ui.table thead th,
.ui.table tfoot th {
    padding: 6px;
    text-transform: uppercase;
    font-size: 12px;
}

.ui.grid {
    margin: 0;
}

.ui.modal.content {
    color: black;
}

.ui-layout-pane {
    border: 1px solid #e8e9e9;
}

body {
    padding-top: 45px;
}

.ui.list .list>.item .header,
.ui.list>.item .header {
    margin-bottom: 3px;
}

.ui.celled.list>.item:first-child,
.ui.celled.list>.item:last-child {
    padding: unset;
    padding: 10px 10px 10px 15px;
}

.ui.celled.list>.item {
    padding: 10px 10px 10px 15px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

.ui.selection.list .list>.item>div,
.ui.selection.list>.item>div {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.ui.selection.list .list>.item.active,
.ui.selection.list>.item.active,
.ui.selection.list.list>.item:hover,
.ui.selection.list>.item:hover {
    background: rgba(217, 255, 250, 1);
    background: -moz-linear-gradient(top, rgba(217, 255, 250, 1) 0%, rgba(219, 255, 230, 1) 47%, rgba(217, 255, 250, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(217, 255, 250, 1)), color-stop(47%, rgba(219, 255, 230, 1)), color-stop(100%, rgba(217, 255, 250, 1)));
    background: -webkit-linear-gradient(top, rgba(217, 255, 250, 1) 0%, rgba(219, 255, 230, 1) 47%, rgba(217, 255, 250, 1) 100%);
    background: -o-linear-gradient(top, rgba(217, 255, 250, 1) 0%, rgba(219, 255, 230, 1) 47%, rgba(217, 255, 250, 1) 100%);
    background: -ms-linear-gradient(top, rgba(217, 255, 250, 1) 0%, rgba(219, 255, 230, 1) 47%, rgba(217, 255, 250, 1) 100%);
    background: linear-gradient(to bottom, rgba(217, 255, 250, 1) 0%, rgba(219, 255, 230, 1) 47%, rgba(217, 255, 250, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9fffa', endColorstr='#d9fffa', GradientType=0);
}

.loading-overlay {
    opacity: 0.80;
}

.ui.grid>.gradient-white {
    padding: 4px 0 8px 0;
    margin: 2px;
    border-bottom: 1px solid #dededf;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}

.ui.mini.modal>.header:not(.ui) {
    font-size: 18px;
}

.ui.modal>.header,
.ui.modal>.content,
.ui.modal>.actions {
    text-align: center;
    padding: 15px;
}