<div class="ui form">
    <div class="field">
        <label>Application</label>
        <select class="form-control" id="data-apps">
            [[#data]]
            <option value=[[id]]>[[server.name]] - [[name]]</option>
            [[/data]]
        </select>
    </div>
    <div class="field">
        <label class="control-label">File Configuration Name</label>
        <input type="file" class="form-control-file" id="data-file">
    </div>
    <div class="field">
        <textarea class="form-control" id="data-filebody" rows="10"></textarea>
    </div>
    <button type="button"  class="ui button" data-uri-1="pages/deployment/batch/index" data-uri-2="api/v1/batch"
        data-uri-3="api/v1/navigation/7">
        <i class="arrow circle left icon"></i>
        Back
    </button>
    <button type="button" id="btn-delete" class="ui button" data-uri-1="pages/deployment/batch/index" data-uri-2="api/v1/batch"
        data-uri-3="api/v1/navigation/7" data-state='Add' data-ignore-other-function="true" onclick="AddUpdateBatch(this);">
        <i class="save outline icon"></i>
        Save changes</button>
</div>