<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            
            <label for="data-batch-name">Batch Name</label>
            <input type="text" class="form-control" id="data-batch-name"  placeholder="Batch Name">
            
        </div>
        <div class="form-group">
                <label for="data-batch-name">Server Type </label>
                <select class="form-control" id="data-app">
                    <option>Production</option>
                    <option>UAT</option>
                </select>
            </div>
        <button type="submit" class="btn btn-primary" previouspage="pages/deployment/batch" id="btn-data-back">Back</button>
        <button type="submit" class="btn btn-primary" previouspage="pages/deployment/batch" id="btn-data-save">Save Changes</button>
    </div>
    </div>
</div>