<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="data-batch-name">Application Name</label>
            <select class="form-control" id="data-app">
                <option>Server Engine - Approval</option>
                <option>Server Engine - Batch</option>
                <option>Server Confins - Confins</option>
                <option>Server Engine - Journal</option>
                <option>Server Engine - Rule</option>
                <option>Server Report - Report</option>
                <option>Server Engine - Workflow</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">File Configuration Name</label>
            <input type="file" class="form-control-file" id="data-file">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="data-filebody" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" previouspage="pages/deployment/application" id="btn-data-back">Back</button>
        <button type="submit" class="btn btn-primary" previouspage="pages/deployment/stagedfile" id="btn-data-save">Save
            Changes</button>
    </div>
</div>
</div>