<div class="ui stacked segments">
        <div class="ui gradient segment">
            Database Roles
        </div>
        <div class="ui segment">
            <table class="ui table">
                <thead class="full-width"> 
                    <tr>
                        <th width="5%">No</th>
                        <th width="auto">Role</th>
                        <th width="20%" style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $val := .roles}}
                    <tr>
                        <td style="text-align:center">{{Sum $index 1}}</td>
                        <td>{{.Name}}</td>
                        <td style="text-align:center">
                            <button class="ui green button" id='btn-edit'   data-uri-1="pages/database/role/edit/{{.ConnectionID}}/{{.Name}}">
                                <i class="edit outline icon"></i>
                                Edit
                              </button>
                              <button class="ui red button" id='btn-delete' 
                                data-uri-1="DELETE api/v1/role/{{.ConnectionID}}/{{.Name}}"
                                data-uri-2="pages/database/role/{{.ConnectionID}}">
                                <i class="trash alternate outline icon"></i>
                                Delete
                              </button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="ui clearing segment">
            <button class="ui right floated green labeled icon button"  data-uri-1="pages/database/role/add/{{.connectionid}}">
                <i class="plus icon"></i>New Database Roles
            </button>
            <button class="ui right floated labeled icon button"  data-uri-1="pages/database/connection">
                <i class="arrow left icon"></i>Back
            </button>
        </div>
    </div>