<div class="ui stacked segments">
    <div class="ui gradient segment">
        Database Role
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Role Name</label>
                <input type="hidden" id="connectionid" name="connectionid:number" value="{{.connectionid}}">
                <input type="text" id="rulename" name="name" placeholder="Rule Name" value="{{.role.Name}}" {{.readonly}}>
            </div>
            <div class="field">
                <label>Select Database/ Schema /Tables</label>
                <input type="hidden" id="hdnobject" name="table[name]">
                <div id="container" >
                </div>
            </div>
            <div class="field">
                <label>Permissions</label>
                <select name="permission[][name]" multiple class="ui fluid dropdown" id="testingpermission">
                    {{ CboPermission "select" .connectionid  .role.Name }}
                </select>
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" onclick="ChangeTableValue()"
            data-uri-1="{{if (eq .connectionid 0)}}PUT api/v1/role{{else}}POST api/v1/role{{end}}"
            data-uri-2="pages/database/connection">
            <i class="checkmark icon"></i>
            Save
        </button>

        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/database/role/{{.connectionid}}">
            <i class="arrow  left icon"></i>    
            Back
        </button>
    </div>
</div>
<script>
    $(function () {
        var jsTreeSelector = '#container';
        LoadTree('{{.connectionid}}');
        $('#container').on("changed.jstree", function (e, data) {
            $("#hdnobject").val(data.selected);
        });
        $(jsTreeSelector).on("select_node.jstree", function (node, selected) {
            let type = selected.node.id.split('#')[0];
            switch (type) {
                case "DB":
                        var siblingNodes = $(jsTreeSelector).jstree(true).get_children_dom(selected.node.id);
                        $(siblingNodes).each(function () {
                            if ($(this).children('.jstree-anchor').hasClass('jstree-clicked')){ 
                                $(jsTreeSelector).jstree(true).deselect_node(this);
                            }
                            var ChildrenNodes = $(jsTreeSelector).jstree(true).get_children_dom($(this).context.id);
                            $(ChildrenNodes).each(function () {
                                if ($(this).children('.jstree-anchor').hasClass('jstree-clicked')){
                                    $(jsTreeSelector).jstree(true).deselect_node(this);
                                }
                            });
                        });
                    
                    break;
                case "SC":
                        var allChecked = true;
                        var parentNode = $(jsTreeSelector).jstree(true).get_parent(selected.node.id);
                        var siblingNodes = $(jsTreeSelector).jstree(true).get_children_dom(parentNode);
                        var childrenNodes = $(jsTreeSelector).jstree(true).get_children_dom(selected.node.id);
                        $(childrenNodes).each(function () {
                            if ($(this).children('.jstree-anchor').hasClass('jstree-clicked')){
                                $(jsTreeSelector).jstree(true).deselect_node(this);
                            }
                        });
                        $(jsTreeSelector).jstree(true).deselect_node(parentNode);
                        $(siblingNodes).each(function () {
                            if (!$(this).children('.jstree-anchor').hasClass('jstree-clicked')) allChecked = false;
                        });
                        if (allChecked) {
                            $(siblingNodes).each(function () {
                                $(jsTreeSelector).jstree(true).deselect_node(this);
                            });
                            $(jsTreeSelector).jstree(true).select_node(parentNode);
                        }
                break;
                case "TA":
                    var allChecked = true;
                        var parentNode = $(jsTreeSelector).jstree(true).get_parent(selected.node.id);
                        var grandparentNode = $(jsTreeSelector).jstree(true).get_parent(parentNode);
                        $(jsTreeSelector).jstree(true).deselect_node(parentNode);
                        $(jsTreeSelector).jstree(true).deselect_node(grandparentNode);
                        var siblingNodes = $(jsTreeSelector).jstree(true).get_children_dom(parentNode);
                        $(siblingNodes).each(function () {
                            if (!$(this).children('.jstree-anchor').hasClass('jstree-clicked')) allChecked = false;
                        });
                        if (allChecked) {
                            $(siblingNodes).each(function () {
                                $(jsTreeSelector).jstree(true).deselect_node(this);
                            });
                            $(jsTreeSelector).jstree(true).select_node(parentNode);

                            
                            var parentsiblingNodes = $(jsTreeSelector).jstree(true).get_children_dom(grandparentNode);
                            $(parentsiblingNodes).each(function () {
                                if (!$(this).children('.jstree-anchor').hasClass('jstree-clicked')) allChecked = false;
                            });
                            if(allChecked){
                                $(parentsiblingNodes).each(function () {
                                    $(jsTreeSelector).jstree(true).deselect_node(this);
                                });
                                $(jsTreeSelector).jstree(true).select_node(grandparentNode);
                            }
                        }
                break;
                default:
                    break;
            }
        });
    });
    function TESTING(){
        console.log($('.ui.form').serializeJSON());
    }
    function TreeManager(selectedobj) {
        LoadTree($("#connectionid").val, selectedobj.value)
    }

    function LoadTree(connectionid) {
        $('#container').jstree({
            'plugins': ["checkbox"],
            "check_callback": true,
            "themes": {
                "stripes": true
            },
            'core': {
                'data': {
                    "url": function (node) {
                        return node.id === '#' ? RootTrees(connectionid,$("#rulename").val()) : ChildTrees(connectionid, node.id,$("#rulename").val());
                    },
                    "dataType": "json",
                    "data": function (node, cb) {
                        return {
                            "id": node.id
                        };
                    }
                }

            },
              "checkbox" : {
                "three_state" : false,
            }
        });
    }

    function RootTrees(connectionid,rolename) {
        return "api/v1/role/GetDBSchemaTrees/" + connectionid +"/"+rolename
    }
    function ChildTrees(connectionid, databasename,rolename) {
        let db = databasename.split('#')[1];
        return "api/v1/role/GetDBTableTrees/" + connectionid + "/" + db+"/"+rolename
    }
</script>