<div class="ui stacked segments">
    <div class="ui gradient segment">
        App Servers
    </div>
    <div class="ui segment">
        <table class="ui compact teal small table">
            <thead class="full-width">
                <tr>
                    <th width="5%">No</th>
                    <th>Application</th>
                    <th>Server</th>
                    <th>Environment</th>
                    <th>Path Application</th>
                    <th>Path Configuration</th>
                    <th width="20%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $val := .appserver}}
                <tr>
                    <td>{{Sum $index 1}}</td>
                    <td>{{.App.Name}}</td>
                    <td>{{.Server.Name}}</td>
                    <td>{{.Environment.Name}}</td>
                    <td>{{.PathApplication}}</td>
                    <td>{{.PathConfig}}</td>
                    <td style="text-align:center">
                        <button class="ui green button" data-uri-1="pages/server/appserver/edit/{{.ID}}">
                            <i class="edit outline icon"></i>
                            Edit
                        </button>
                        <button class="ui red button" data-uri-1="DELETE api/v1/appservers/{{.ID}}"
                            data-uri-2="pages/server/appserver/{{.ServerID}}">
                            <i class="trash alternate outline icon"></i>
                            Delete
                        </button>
                    </td>
                </tr>
                {{end}}

            </tbody>
        </table>
    </div>
    <div class="ui clearing segment">
        <button class="ui right floated green labeled icon button" data-uri-1="pages/server/appserver/add/{{.id}}">
            <i class="plus icon"></i>New Application Srever
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/server">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>