<div class="ui stacked segments">
    <div class="ui gradient segment">
        App Server
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Application Name</label>
                <input type="hidden" name="serverid:number" value="{{.serverid}}">
                <select name="appid:number" class="ui fluid dropdown">
                    {{ CboAppServerApps "select" .appid .serverid .environmentid }}
                </select>
            </div>
            <div class="field">
                <label>Environment Name</label>
                <select name="environmentid:number" class="ui fluid dropdown">
                    {{ CboAppServerEnvironments "select" .id}}
                </select>
            </div>
            <div class="field">
                <label>Path Application</label>
                <input type="text" name="pathapp:string" placeholder="Path Application" value="{{.appserver.PathApplication}}">
            </div>
            <div class="field">
                <label>Path Configuration</label>
                <input type="text" name="pathconfig:string" placeholder="Path Configuration" value="{{.appserver.PathConfig}}">
            </div>


        </form>
    </div>
    <div class="ui clearing segment">
        <button type="button" id="btn-save" class="ui right floated green labeled icon button" 
            data-uri-1="{{if (eq .appid 0)}}PUT api/v1/appservers{{else}}POST api/v1/appservers/{{.serverid}}/{{.appid}}/{{.environmentid}}{{end}}"
            data-uri-2="pages/server/appserver/{{.serverid}}">
            <i class="checkmark icon"></i>
            Save
        </button>
        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/server/appserver/{{.serverid}}">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>