<div class="ui stacked segments">
  <div class="ui gradient segment">
    System Roles
  </div>
  <div class="ui segment">
    <table class="ui compact teal small table">
      <thead class="full-width">
        <tr>
          <th width="5%">No</th>
          <th>System Roles</th>
          <th width="20%" style="text-align:center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Roles}}
        <tr>
          <td>{{Sum $index 1}}</td>
          <td>{{$val}}</td>
          <td style="text-align:center">
            <button class="ui green button" id='btn-edit' data-uri-1="pages/systemroles/edit/{{$val}}">
              <i class="edit outline icon"></i>
              Edit
            </button>
            <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/systemroles/{{$val}}" data-uri-2="pages/systemroles">
              <i class="trash alternate outline icon"></i>
              Delete
            </button>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <div class="ui clearing segment">
      
    <button class="ui right floated green labeled icon button" data-uri-1="pages/systemroles/add">
      <i class="plus icon"></i>New System Roles
    </button>
    <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/user">
      <i class="arrow  left icon"></i>
      Back
    </button>
  </div>
</div>