<div class="ui stacked segments">
  <div class="ui gradient segment">
    User
  </div>
  <div class="ui segment">
    <form class="ui form">
      <div class="field">
        <label>System role</label>
        <input type="hidden" id="hdnrole"  value="{{.role}}">
        <input type="text" id="data" name="role" placeholder="role" value="{{.role}}">
      </div>
      <div class="field">
        <label>Select Polices</label>        
        <input type="hidden" id="hdnobject" name="table[name]">
        <div id="container" >
        </div>
      </div>
    </form>
  </div> 
  <div class="ui clearing segment">
    <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .id 0)}}PUT api/v1/systemroles{{else}}POST api/v1/systemroles/{{.role}}{{end}}"
      data-uri-2="GET pages/systemroles">
      <i class="checkmark icon"></i>
      Save
    </button>
    <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/systemroles">
      <i class="arrow  left icon"></i>
      Back
    </button>
  </div>
</div>

<script>
$(function () {
      var jsTreeSelector = '#container';
      LoadTree();
      $('#container').on("changed.jstree", function (e, data) {
          $("#hdnobject").val(data.selected);
      });
      $(jsTreeSelector).on("select_node.jstree", function (node, selected) {
          let type = selected.node.id.split('#')[0];
          switch (type) {
              case "ROOT":
                      var siblingNodes = $(jsTreeSelector).jstree(true).get_children_dom(selected.node.id);
                      $(siblingNodes).each(function () {
                          if (!$(this).children('.jstree-anchor').hasClass('jstree-clicked')){ 
                              $(jsTreeSelector).jstree(true).select_node(this);
                          }
                          var grandsiblingNodes = $(jsTreeSelector).jstree(true).get_children_dom($(this));
                          $(grandsiblingNodes).each(function () {
                            if (!$(this).children('.jstree-anchor').hasClass('jstree-clicked')){ 
                                $(jsTreeSelector).jstree(true).select_node(this);
                                
                            }
                            var grandgrandsiblingNodes = $(jsTreeSelector).jstree(true).get_children_dom($(this));
                            $(grandgrandsiblingNodes).each(function () {
                              if (!$(this).children('.jstree-anchor').hasClass('jstree-clicked')){ 
                                  $(jsTreeSelector).jstree(true).select_node(this);
                                  
                              }
                            });
                          });
                      });
                  
                  break;
              case "Form2":
                    var parentNode = $(jsTreeSelector).jstree(true).get_parent(selected.node.id);
                    $(jsTreeSelector).jstree(true).select_node(parentNode);
                    
                  break;
              case "Form3":
                    var parentNode = $(jsTreeSelector).jstree(true).get_parent(selected.node.id);
                    var grandparentNode = $(jsTreeSelector).jstree(true).get_parent(parentNode);
                    $(jsTreeSelector).jstree(true).select_node(parentNode);
                    $(jsTreeSelector).jstree(true).select_node(grandparentNode);
                  break;
              default:
                  break;
          }
      });
  });
  function LoadTree() {

      $('#container').jstree({
          'plugins': ["checkbox"],
          "check_callback": true,
          "themes": {
              "stripes": true
          },
          'core': {
              'data': {
                  "url": function (node) {
                      return  LoadUrl()
                  },
                  "dataType": "json",
                  "data": function (node, cb) {
                      return {
                          "id": node.id
                      };
                  }
              }

          },
            "checkbox" : {
              "three_state" : false,
          }
      });
  }

  function LoadUrl(){
    var role = $("#hdnrole").val();
    console.log("role:",role)
     if(role == null || role == "" ){
        return "api/v1/role/GetFormTrees";
     } else{
        return "api/v1/role/GetFormTrees/"+role;
     }
  }
</script>