<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>AdIns Secure Dashboard</title>
	<!--Custom Theme files-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="static/favicon.ico">	
	<!--<link href="static/css/vendor/bootstrap.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
	<!-- //Custom Theme files -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/dashboard.css" type="text/css" media="all" />
	<link rel="stylesheet" href="static/css/style.css">
	<!-- js -->
	<script src="static/js/vendor/jquery.min.js"></script>
	<script src="static/js/vendor/bootstrap.min.js"></script>
	<!-- <script src="static/js/vendor/mustache.min.js"></script> -->
	<script src="static/js/vendor/mustache.min.js"></script>
</head>

<body>
	<div id="transbox">&nbsp;</div>
	<!-- main -->

	<div class="main">
		<input type="hidden" id="current-user" value="{{.currentuser}}">
		<div class="account box">
			<div class="navbar">
				<div class="logo-parent">
					<img width="400" height="400" src="static/images/Logo-AdIns.png">
				</div>
				<div class="clear"> </div>
			</div>
			<div class="account-info">
					<div id="nav-tabs" class="tabs">
						<nav id="nav-link">
						</nav>

						<div class="content visible" style="padding-bottom: 10px;" >
							<div class="content-body">

							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<script src="static/js/utility.js"></script>
	<script src="static/js/dashboard.js"></script>
	<script src="static/js/menu-server.js"></script>
	<script src="static/js/menu-servertype.js"></script>
	<script src="static/js/menu-user.js"></script>
	<script src="static/js/menu-application.js"></script>
	<script src="static/js/menu-linktab.js"></script>
	<script src="static/js/menu-deployment.js"></script>


</body>

</html>