<!DOCTYPE html>
<html>

<head>
	<title>AdIns Secure Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/css/vendor/layout-default-latest.css">
	<link rel="stylesheet" href="static/css/vendor/jquery.ui.theme.css">
	<link rel="stylesheet" href="static/css/vendor/jquery.loading.min.css">
	<link rel="stylesheet" href="static/css/vendor/jstree.min.css">
	<link rel="stylesheet" href="static/plugin/semantic/semantic.2.4.2.css">
	<link rel="stylesheet" href="static/css/dashboard.css">

	<script src="static/js/vendor/jquery.min.js"></script>
	<script src="static/js/vendor/mustache.min.js"></script>
	<script type="text/javascript" src="static/js/vendor/jquery-ui-latest.js"></script>
	<script type="text/javascript" src="static/js/vendor/jquery.layout-latest.js"></script>
	<script type="text/javascript" src="static/js/vendor/jquery.serializejson.min.js"></script>
	<script type="text/javascript" src="static/js/vendor/jstree.min.js"></script>
	<!-- <script type='text/javascript' src='https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js'></script> -->
	<script type="text/javascript">
		var layoutOptions = {
			//minSize: 100,
			stateManagement__enabled: true,

			west__minSize: 270,
			west__spacing_open: 10,
			// west__childOptions: {
			// 	minSize: 50,
			// 	south__size: 300,
			// 	inset: {
			// 		top: 20,
			// 		bottom: 20,
			// 		left: 20,
			// 		right: 20
			// 	}
			// },
			// east__minSize: 200,
			// east__maxSize: 270,
			// east__spacing_open: 5,
			// east__childOptions: {
			// 	minSize: 50,
			// 	south__size: 100
			// },

			south__spacing_open: 10,
			south__spacing_closed: 10,
			south__resizable: true,
			// initHidden = true,

			fxSpeed_open: 100,
			fxSpeed_close: 150
		};

		$(function () {
			layout = $('body').layout(layoutOptions);
			// layout.bindButton('.south-toggler', 'toggle', 'south');
		});
	</script>
	<script type="text/javascript" src="static/js/vendor/jquery.loading.min.js"></script>
	<script type="text/javascript" src="static/plugin/semantic/semantic.2.4.2.js"></script>
</head>

<body>
	<div class="ui top fixed menu">
		<div class="item" style="padding: 0px 10px 0px 5px;">
			<img src="static/images/Logo-AdIns.png" style="width: 75px;">
		</div>
		<div class="right menu">
			<div id="socketStatus" class="ui dropdown item"></div>
			<a class="right item" id="btnSignout" onclick="SignOut()">Sign Out</a>
		</div>
	</div>
	<div class="ui-layout-center">
		<div class="ui grid">
			<!-- <div class="row">
				<div class="column">
					<div class="ui small breadcrumb gradient-white">
						<a class="section">Home</a>
						<i class="right chevron icon divider"></i>
						<a class="section">Registration</a>
						<i class="right chevron icon divider"></i>
						<div class="active section">Personal Information</div>
					</div>
				</div>
			</div> -->
			<div class="row">
				<div class="column">
					<div id="content-body" class="content-body">

					</div>
					<div class="ui content mini modal">
						<div class="header">Delete Confirmation</div>
						<div class="content">
							<p>Are you sure you want to delete this data</p>
						</div>
						<div class="actions">
							<div class="ui negative cancel labeled icon mini button" data-value="cancel">Cancel<i class="trash icon"></i></div>
							<div class="ui positive approve labeled icon mini button" data-value="confirm">Confirm<i class="checkmark icon"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-layout-west">
		<div class="ui celled selection list">
			{{range $index, $val := .navigation}}
			<a class="item" {{ dataURI $val }}>
				<div><i class="{{.URI.Icon}} aligned icon"></i></div>
				<div class="content">
					<div class="header">{{.URI.Title}}</div>{{.URI.Desc}}
				</div>
			</a>
			{{end}}
		</div>
	</div>
	<div class="ui-layout-south">
		<table id="LoggingPanel" class="ui celled structured table">
			<thead>
				<tr>
					<th width="5%">TYPE</th>
					<th width="15%">TIME</th>
					<th width="auto">MESSAGE</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<script src="static/js/utility.js"></script>
	<script src="static/js/dashboard.js"></script>
	<script src="static/js/menu-server.js"></script>
	<script src="static/js/menu-servertype.js"></script>
	<script src="static/js/menu-application.js"></script>
	<script src="static/js/menu-linktab.js"></script>
	<script src="static/js/menu-deployment.js"></script>
	<script src="static/js/deployment/batch.js"></script>
	<script src="static/js/socket.io.js"></script>

	<script>
		var scheme = document.location.protocol == "https:" ? "wss" : "ws";
		var port = document.location.port ? (":" + document.location.port) : "";
		var wsURL = scheme + "://" + document.location.hostname + port + "/socket";
		var output = $("#socketStatus");
		var socketStatus = 0;
		socket = new Ws(wsURL)

		socket.OnConnect(function () {
			socket.Emit("visit");
		});

		socket.OnDisconnect(function () {
			SetStatus(0, "Disonnected");
		});

		socket.On("visit", function (data) {
			SetStatus(1, data);
		});

		socket.On("signout", function (msg) {
			window.location.replace("api/v1/auth/logout");
		});

		function SetStatus(status, msg) {
			if (status == 0) {
				msg = msg + '&nbsp;&nbsp;<i class="sync alternate icon"></i>';
				output.html(msg);
				output.css({
					"background-color": "#f7fff7",
					"color": "red",
					"font-weight": "bold"
				});
			} else {
				let jsonObj = JSON.parse(msg);
				let countUser = 1;
				let strHtml = "";
				if (jsonObj.length > 0) {
					Object.keys(jsonObj).forEach(function (k) {
						console.log(k + ' - ' + jsonObj[k]);
						strHtml += '<a class="item">' + jsonObj[k].Username + '</a>';
					});
					countUser = jsonObj.length;
				} else {
					strHtml += '<a class="item">' + jsonObj.Username + '</a>';
				}
				strHtml = countUser + ' Connected <div class="menu">' + strHtml;
				strHtml = strHtml + '</div>';
				output.html(strHtml);
				output.css({
					"background-color": "#f7fff7",
					"color": "green",
					"font-weight": "bold"
				});
			}
			$("#socketStatus").dropdown();
		}

		function SignOut() {
			socket.Emit("signout");
		}

		// startSocket();
	</script>
</body>

</html>