<div class="ui stacked segments">
  <div class="ui gradient segment">
    Server Key
  </div>
  <div class="ui segment">
    <table class="ui compact teal small table">
      <thead class="full-width">
        <tr>
          <th width="5%">No</th>
          <th>KeyName</th>
          <th width="15%" style="text-align:center">Date</th>
          <th width="25%" style="text-align:center">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .generatekey}}
        <tr>
          <td>{{Sum $index 1}}</td>
          <td>{{.KeyName}}</td>
          <td style="text-align:center">{{.LastGenerateKey}}</td>
          <td style="text-align:center">
            <button class="ui green button" id='btn-link-edit' data-uri-1="POST /api/v1/generatekey/{{.ID}}">
              <i class="edit outline icon"></i>
              Deploy To All Server
            </button>
          </td>
        </tr>
        {{end}}

      </tbody>
    </table>
  </div>
  <div class="ui clearing segment">
    <button class="ui right floated blue labeled icon button" data-uri-1="PUT /api/v1/generatekey" data-uri-2="pages/server/generatekey">
      <i class="dna icon"></i>Generate Key
    </button>
    <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/server">
      <i class="arrow  left icon"></i>
      Back
    </button>
  </div>
</div>