<div class="ui stacked segments">
    <div class="ui gradient segment">
        General Settings 
    </div>
    <div class="ui segment">
        <table class="ui compact teal small table">
            <thead class="full-width">
                <tr>
                    <th width="5%">No</th>
                    <th width="auto">Key</th>
                    <th width="auto">Value</th>
                    <th width="20%" style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $val := .gs}}
                <tr>
                    <td>{{Sum $index 1 }}</td>
                    <td>{{.Key}}</td>
                    <td>{{.Value}}</td>
                    <td style="text-align:center">
                        <button class="ui green button" data-uri-1="pages/system/edit/{{.ID}}">
                            <i class="edit outline icon"></i>
                            Edit
                        </button>
                        <button class="ui red button" id='btn-delete' data-uri-1="DELETE api/v1/system/{{.ID}}"
                            data-uri-2="pages/system">
                            <i class="trash alternate outline icon"></i>
                            Delete
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="ui clearing segment">
        <button class="ui right floated green labeled icon button" data-uri-1="pages/system/add">
            <i class="plus icon"></i>New General Settings
        </button>
    </div>
</div>
