<div class="ui stacked segments">
    <div class="ui gradient segment">
        General Setting
    </div>
    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Key Name</label>
                <input type="hidden" id="data-id" name="id:number" value="{{.gs.ID}}">
                <input type="text" id="key-name" name="key" placeholder="Key Name" value="{{.gs.Key}}">
            </div>
            <div class="field">
                <label>Value</label>
                <input type="text" id="value-name" name="value" placeholder="Value" value="{{.gs.Value}}">
            </div>
        </form>
    </div>
    <div class="ui clearing segment">
        <button type="submit" id="btn-save" class="ui right floated green labeled icon button" data-uri-1="{{if (eq .id 0)}}PUT api/v1/system{{else}}POST api/v1/system/{{.id}}{{end}}"
            data-uri-2="GET pages/system">
            <i class="checkmark icon"></i>
            Save
        </button>

        <button type="button" class="ui right floated labeled icon button" data-uri-1="pages/system">
            <i class="arrow  left icon"></i>
            Back
        </button>
    </div>
</div>